<% if !flash[:error_register].nil? %>
<div class="container">
	<div class="alert alert-danger">
		<b><%= flash[:error_register] %></b>
	</div>
</div>
<br />
<% end %>
<div class="container-fluid">
	<div class="container col-lg-4 col-lg-offset-4 card">
		<center><h1><%= @title %> </h1></center>
		<%= form_for(@user, :url => signupUser_path, :html => { :id => "signup-form" }) do |f| %>
			<div class="form-group">
				<%= f.email_field :email, :placeholder => "Email", :class => "form-control",
					:required => "true", :id => "email" %>
				<span class="error-msg" style="color: red;">
				<%= @user.errors[:email].join(", ") if @user.errors[:email] %>
				</span>
			</div>
			<div class="form-group" style="color: red;">
				<%= f.text_field :username, :placeholder => "Username", :class => "form-control", :required => "true", :id => "username" %>
				<span class="error-msg">
				<%= @user.errors[:username].join(", ") if @user.errors[:username] %>
				</span>
			</div>
			<div class="form-group" style="color: red;">
				<%= f.number_field :phone, :placeholder => "Phone", :class => "form-control", :required => "true", :id => "phone" %>
				<span class="error-msg">
				<%= @user.errors[:phone].join(", ") if @user.errors[:phone] %>
				</span>
			</div>
			<div class="form-group" style="color: red;">
				<%= f.password_field :password, :placeholder => "Password",
				 	:class => "form-control", :required => "true", :id => "password" %>
			</div>
			<div class="form-group" style="color: red;">
				<%= f.password_field :password_confirmation, :placeholder => "Confirm Password", 
					:class => "form-control", :required => "true", :id => "confirm_password" %>
				<span class="error-msg">
				<%= @user.errors[:password_confirmation].join(", ") if @user.errors[:password_confirmation] %>
				</span>
			</div>
			<div class="form-group">
				<%= f.label "Profile Picture" %>
				<%= f.file_field :image, :accept => "image/*" %>
			</div>
			<%= f.submit "Sign Up", :class => "btn btn-block btn-primary" %>
		<% end %>
	</div>
</div>